.list {
  margin-top: 10px;
  z-index: 2;
}

.listTitle {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
}

.wrapper {
    display: flex;
    width: max-content;
}

.listContainer {
  display: flex;
  gap: 5px;
  margin-left: 50px;
  transform: translateX(0);
  transition: transform 1s ease;
}

.sliderBtn {
  color: white;
  background-color: rgb(22,22,22,.5);
  height: 20vh;
  width: 5rem;
  z-index: 3;
}

.right{
    right: 0px;
}