.list{
    margin-top: 10px;
}

.listTitle {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.wrapper{
    display: flex;
    width: max-content;
}

.listContainer {
    margin-left: 50px;
  
    width: max-content;
}
