* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  position: fixed;
  width: 90vw;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  padding: 5px 5%;
  z-index: 2;
  transition: 0.3s ease;
}
.navbarScrolled{
  display: flex;
  position: fixed;
  color: white;
  width: 90vw;
  background-color: #181818;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px 5%;
  z-index: 2;
  transition: 0.3s ease;
}
.start {
  display: flex;
}
.logoSvg {
  width: 2rem;
  height: 2rem;
  color: #e50914;
}
.logoTitle {
  font-size: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
}

.links {
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.searchBar {
  width: 30vw;
  padding-left: 2vw;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  border: 0px;
  height: 1.5rem;
}
.searchSvg {
  font-size: 0.8rem;
}
.navli {
  display: inline-flex;
  list-style-type: none;
  margin-left: 2.5rem;
  gap: 2rem;
  font-size: 1.2rem;
  justify-content: center;
}

a {
  font: inherit;
  color: inherit;
}

.searchBtn {
  margin-left: 0.3rem;
  border-radius: 50%;
  background-color: #e50914;
  color: white;
  padding: 0.3rem;
  border: 0px;
  cursor: pointer;
  z-index: 2;
}

.right {
  position: absolute;
  right: 0;
}
